@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 2rem;
  line-height: 42.26px;
  color: #333;
  margin-top: 2rem;
}

.container {
  font-family: 'Montserrat', sans-serif;
  max-width: 950px;
  margin: auto;
  padding: 0 20px;
}
