.nav {
  border-bottom: 1px solid #bbbbbb;
}

.nav-link:hover {
  opacity: 1;
  color: #0d6efd;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: '';
  position: absolute;
  background-color: #6610f2;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.nav-link:hover::before {
  height: 5px;
}

.nav-link .currentPage {
  color: #0d6efd;
}
