/* Material icons */
.material-icons.danger {
  color: #f44336;
}

.material-icons:hover {
  cursor: pointer;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* Strike through effect when deleging document */
.strikethrough {
  display: inline-block;
  position: relative;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.strikethrough:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.6);
  margin-top: -0.7em;
  background: black;
  transform-origin: center left;
  animation: strikethrough 1s 0.5s cubic-bezier(0.55, 0, 0.1, 1) 1;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
